{% extends "base.html" %}
{% block content %}

<h2 style="text-align:center; color:#00ff88; margin-bottom:20px">Panel de Monitoreo HIPS</h2>
<div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap:20px;">

  <!-- Alarmas -->
  <div style="background:#2c2c2c; padding:15px; border-radius:10px;">
    <h3 style="color:#ff4d4d;"> Últimas Alarmas</h3>
    <pre style="white-space:pre-wrap; overflow:auto; max-height:300px;">{{ alarmas|join('\n') }}</pre>
  </div>

  <!-- Prevención -->
  <div style="background:#2c2c2c; padding:15px; border-radius:10px;">
    <h3 style="color:#00ccff;"> Prevenciones</h3>
    <pre style="white-space:pre-wrap; overflow:auto; max-height:300px;">{{ prevenciones|join('\n') }}</pre>
  </div>

  <!-- Correos -->
  <div style="background:#2c2c2c; padding:15px; border-radius:10px;">
    <h3 style="color:#ffaa00;"> Correos Sospechosos</h3>
    <pre style="white-space:pre-wrap; overflow:auto; max-height:300px;">{{ correos|join('\n') }}</pre>
  </div>

  <!-- Gráfico -->
   <div style="width:67vw;">
  <div style="background:#2c2c2c; padding:15px; border-radius:10px; text-align:center;">
    <h3 style="color:#00ff88;"> Gráfico de Alarmas</h3>
    <img src="{{ url_for('graficos') }}" alt="Gráfico de alarmas" style="max-width:100%; border-radius:8px;">
  </div>
</div>
</div>
{% endblock %}
